<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Exercise 02 - States and event handling</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/babel">
        class Counter extends React.Component {
            constructor() {
                super()
                this.state = {
                    clickedCount: 0
                }
            }

            increaseClick = () => {
                this.setState({ clickedCount: this.state.clickedCount + 1})
            }

            decreaseClick = () => {
                this.setState({ clickedCount: this.state.clickedCount - 1})
            }

            render() {
                return(
                    <div style={{border: '1px solid black', margin: '10px', padding: '10px', float: 'left'}}>
                        <h2>Class</h2>
                        <p>Value is {this.state.clickedCount}</p>
                        <button onClick={this.increaseClick}>Increase</button>
                        <button onClick={this.decreaseClick}>Decrease</button>
                    </div>
                );
            }
        }
        
        function FuncCounter() {
            const [clickedCount, setClickedCount] = React.useState(0)

            const increaseClick = () => {
                setClickedCount(clickedCount + 1)
            }

            const decreaseClick = () => {
                setClickedCount(clickedCount - 1)
            }

            return(
                <div style={{border: '1px solid black', margin: '10px', padding: '10px', float: 'left'}}>
                    <h2>Function</h2>
                    <p>Value is {clickedCount}</p>
                    <button onClick={increaseClick}>Increase</button>
                    <button onClick={decreaseClick}>Decrease</button>
                </div>
            )
        }

        ReactDOM.render(
            <div>
                <h1>Exercise 02 - States and event handling</h1>
                <Counter />
                <FuncCounter />
            </div>,
            document.getElementById('root')
        );

    </script>
    <!--
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.

      Read this section for a production-ready setup with JSX:
      https://reactjs.org/docs/add-react-to-a-website.html#add-jsx-to-a-project

      In a larger project, you can use an integrated toolchain that includes JSX instead:
      https://reactjs.org/docs/create-a-new-react-app.html

      You can also use React without JSX, in which case you can remove Babel:
      https://reactjs.org/docs/react-without-jsx.html
    -->
  </body>
</html>
