<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Exercise 03 - Event handling and component rendering</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/babel">
        class RandomNumbersClass extends React.Component {
            constructor() {
                super()
                this.state = {
                    numbers: []
                }
            }

            addRandomNumber = () => {
                this.setState({ numbers: [...this.state.numbers, Math.random()] })
            }

            render() {
                let numItems = this.state.numbers.map((num, index) => <p key={index}>{num}</p>)
                return(
                    <div style={{border: '1px solid black', margin: '10px', padding: '10px', float: 'left'}}>
                        <h2>Class</h2>
                        <button onClick={this.addRandomNumber}>Randomize</button>
                        {numItems}
                    </div>
                );
            }
        }
        
        function RandomNumbersFunction() {
            const [numbers, setNumbers] = React.useState([])

            const addRandomNumber = () => {
                setNumbers([...numbers, Math.random()])
            }

            let numItems = numbers.map((num, index) => <p key={index}>{num}</p>)

            return(
                <div style={{border: '1px solid black', margin: '10px', padding: '10px', float: 'left'}}>
                    <h2>Function</h2>
                    <button onClick={addRandomNumber}>Randomize</button>
                    {numItems}
                </div>
            )
        }

        ReactDOM.render(
            <div>
                <h1>Exercise 03 - Event handling and component rendering</h1>
                <RandomNumbersClass />
                <RandomNumbersFunction />
            </div>,
            document.getElementById('root')
        );

    </script>
    <!--
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.

      Read this section for a production-ready setup with JSX:
      https://reactjs.org/docs/add-react-to-a-website.html#add-jsx-to-a-project

      In a larger project, you can use an integrated toolchain that includes JSX instead:
      https://reactjs.org/docs/create-a-new-react-app.html

      You can also use React without JSX, in which case you can remove Babel:
      https://reactjs.org/docs/react-without-jsx.html
    -->
  </body>
</html>
