<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Exercise 05 - Calculator</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <style>
        .movie {
            border: 1px solid black;
            margin: 10px auto;
            padding: 10px;
            width: 300px;
        }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/babel">
        class CalculatorClass extends React.Component {
            constructor(){
                super()
                this.state = {
                    number1: 0,
                    number2: 0,
                    result: 0
                }
            }

            handleNumber1Change = (e) => {
                this.setState({number1: event.target.value});
            }

            handleNumber2Change = (e) => {
                this.setState({number2: event.target.value});
            }

            buttonPressed = (e, calc) => {
                if (calc === '+') this.setState( { result: parseInt(this.state.number1) + parseInt(this.state.number2) });
                else if (calc === '-') this.setState( { result: parseInt(this.state.number1) - parseInt(this.state.number2) });
                else if (calc === '*') this.setState( { result: parseInt(this.state.number1) * parseInt(this.state.number2) });
                else if (calc === '/') this.setState( { result: parseInt(this.state.number1) / parseInt(this.state.number2) });
            }

            render() {
                return (
                <div>
                    <h2>Calculator Class</h2>
                    <div style={{margin:'5px'}}>
                        Number 1: <input value={this.state.number1} onChange={(e) => this.handleNumber1Change(e)} style={{textAlign:'right'}} />
                    </div>
                    <div style={{margin:'5px'}}>
                        Number 2: <input value={this.state.number2} onChange={(e) => this.handleNumber2Change(e)} style={{textAlign:'right'}}/>
                    </div>
                    <div>
                        <button style={{width:'30px', margin:'5px'}} onClick={(e) => this.buttonPressed(e,'+')} >  +  </button>
                        <button style={{width:'30px', margin:'5px'}} onClick={(e) => this.buttonPressed(e,'-')} >  -  </button>
                        <button style={{width:'30px', margin:'5px'}} onClick={(e) => this.buttonPressed(e,'*')} >  *  </button>
                        <button style={{width:'30px', margin:'5px'}} onClick={(e) => this.buttonPressed(e,'/')} >  /  </button>
                    </div>
                    <div style={{margin:'5px'}}>
                        Result: <input value={this.state.result} style={{textAlign:'right'}} readOnly/>
                    </div>
                </div>
                )
            }
        }

        function CalculatorFunction() {
            const [n1, setN1] = React.useState(0)
            const [n2, setN2] = React.useState(0)
            const [result, setResult] = React.useState(0)

            let handleNumber1Change = (e) => {
                setN1(event.target.value);
            }

            let handleNumber2Change = (e) => {
                setN2(event.target.value);
            }

            let buttonPressed = (e, calc) => {
                if (calc === '+') setResult(parseInt(n1) + parseInt(n2));
                else if (calc === '-') setResult(parseInt(n1) - parseInt(n2));
                else if (calc === '*') setResult(parseInt(n1) * parseInt(n2))
                else if (calc === '/') setResult(parseInt(n1) / parseInt(n2))
            }

            return (
                <div>
                    <h2>Calculator Function</h2>
                    <div style={{margin:'5px'}}>
                        Number 1: <input value={n1} onChange={(e) => handleNumber1Change(e)} style={{textAlign:'right'}} />
                    </div>
                    <div style={{margin:'5px'}}>
                        Number 2: <input value={n2} onChange={(e) => handleNumber2Change(e)} style={{textAlign:'right'}}/>
                    </div>
                    <div>
                        <button style={{width:'30px', margin:'5px'}} onClick={(e) => buttonPressed(e,'+')} >  +  </button>
                        <button style={{width:'30px', margin:'5px'}} onClick={(e) => buttonPressed(e,'-')} >  -  </button>
                        <button style={{width:'30px', margin:'5px'}} onClick={(e) => buttonPressed(e,'*')} >  *  </button>
                        <button style={{width:'30px', margin:'5px'}} onClick={(e) => buttonPressed(e,'/')} >  /  </button>
                    </div>
                    <div style={{margin:'5px'}}>
                        Result: <input value={result} style={{textAlign:'right'}} readOnly/>
                    </div>
                </div>
            )

        }

        class App extends React.Component {
            render() {
                return(
                    <div>
                        <h1>Exercise 05 - Calculator</h1>
                        <CalculatorClass />
                        <hr />
                        <CalculatorFunction />
                    </div>
                )
            }
        }

        ReactDOM.render(
            <App />,
            document.getElementById('root')
        );

    </script>
    <!--
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.

      Read this section for a production-ready setup with JSX:
      https://reactjs.org/docs/add-react-to-a-website.html#add-jsx-to-a-project

      In a larger project, you can use an integrated toolchain that includes JSX instead:
      https://reactjs.org/docs/create-a-new-react-app.html

      You can also use React without JSX, in which case you can remove Babel:
      https://reactjs.org/docs/react-without-jsx.html
    -->
  </body>
</html>
